*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Nav section */

header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo {
    width: 5vw;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 5px 15px;
}

@media (max-width: 480px) {
    .nav {
        padding: 5px 10px;
    }
    header .nav-menu {
        gap: 10px;
        font-size: 10px;
    }

}

a {
    text-decoration: none;
    color: white;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

/* First section */

.section1 {
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: white;
    padding: 80px;
}

@media (max-width: 768px) {
    .section1 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 25px;
        gap: 15px;
    }

    .section1 .pic {
        max-width: 70vw;
    }
}

.pic {
    max-width: 30vw;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.hero {
    display: flex;
    flex-direction: column;
}

.name {
    color: red;
}

.contact-button {
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
}

.con {
    margin-top: 15px;
}

/* Second section */


.section2 {
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
    padding: 80px;
}
@media (max-width: 768px) {
    .section2 {
        align-items: center;
        justify-content: center;
        padding: 25px;
        gap: 0px;
    }
    .pic2 {
        display: none;
    }

    .about {
        justify-content: center;
        align-items: center;
    }
}

.about {
    display: flex;
    flex-direction: column;
}




.skills-img {
    width: 20px;
}
.skills-tab {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.skills {
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    margin: 10px;
    padding: 10px 20px;
}


.Cv-button {
    background-color: red;
    padding: 10px 30px;
    border-radius: 5px;
}

.Cv {
    margin-top: 25px;
}

/* third section */

.section3 {
    background-color:  rgb(15, 15, 15);
    padding: 20px;
    color: white;
}

@media (max-width: 480px) {
    .section3 .card {
        justify-content: center;
        align-items: center;
        padding: 25px;
    }

    .section3 .menu-card {
        width: 80vw;
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(15, 15, 15);
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 20px;
    padding: 80px;
}

.menu-card {
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 25vw;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  transform: translateY(-5px);
}


/* forth section */

.section4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
    color: white;
}

/* footer section */

.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    padding: 5px 40px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
